/fb1-5
/fb1-5.tab.c
/fb1-5.tab.h
/lex.yy.c
/fb3-1
/fb3-1.lex.c
/fb3-1.tab.c
/fb3-1.tab.h
/fb3-2
/fb3-2.lex.c
/fb3-2.tab.c
/fb3-2.tab.h
/fb1-1
/fb1-2
/fb1-3
/fb1-4
/fb2-1
/fb2-1.c
/fb2-2
/fb2-2.c
/fb2-3
/fb2-3.c
/fb2-4
/fb2-4.c
/fb2-5
/fb2-5.c
/purecalc.lex.c
/purecalc.lex.h
/purecalc.lex.o
/purecalc.output
/purecalc.tab.c
/purecalc.tab.h
/purewc
/purewc.lex.c
/purewc.lex.o
